@import 'variables';
@import 'media-queries';


.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  min-width: 960px;
  @media screen and (min-width: $LG) {
    width: 960px;
  }
  @media screen and (min-width: $XL) {
    width: 100%;
    max-width: 1140px;
  }
  @media screen and (min-width: $XXL) {
    width: 100%;
    max-width: 1320px;
  }
}
