$blue-primary: #AD6800;
$blue-light: #D48806;
$blue-dark: #874D00;
$blue-daybreak-1: #e6f7ff;
$blue-daybreak-6: #1890ff;

$white-light: #f8f8f8;
$white-bg: #eaeaea;
$white-pure: #ffffff;

$gray-blue: #917e69;
$gray-blue-hover: #665c49;
$gray-blue-bg-hover: #dee1e5;
$gray-blue-bg: #ebeff3;

$gray-border: #d6d6d6;
$gray-7: #8c8c8c;
$gray-4: #f0f0f0;
$gary-landing-bg: #f0f2f5;

$default-radius: 8px;
$small-radius: 4px;

$black-badge: rgba(0, 0, 0, 0.45);
