.action {
  width: 90%;
  height: 300px;
  margin: 40px auto;
  .action-container {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    h3 {
      font-size: 24px;
      font-weight: 400;
      line-height: 40px;
    }
  }
}